body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content, .image{
    width: 100%;
}

img{
    max-width: 100%;
}
h1{
    color: blue;
}

h2{
    color: green;
}

p, li{
    font-size: 1.2rem;
}

.my-list{
    list-style: none;
}

@media screen and (min-width: 500px){
    body{
        flex-direction: row;
    }

    .content, .image{
        width: 50%;
    }
}
