body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 1rem auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}


.content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 900px;
  margin: 2rem auto;
}


.text-content, .image-gallery {
    width: 100%;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

img {
    width: 150px;
    height: auto;
}


.my-list {
    list-style: circle;
    font-size: large;
    text-align: left;
    margin-left: 0;
    padding-left: 1rem;
    align-self: flex-start;
}


img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}



@media screen and (min-width: 500px) {
    .image-gallery {
        justify-content: flex-start;
    }
}
